apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  # (Geralmente no namespace default)
  labels:
    app: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "9187"
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: postgres:15
        ports:
        - containerPort: 5432
        env:
        - name: POSTGRES_USER
          value: "ecommerce"
        - name: POSTGRES_PASSWORD
          value: "Pg1234"
        - name: POSTGRES_DB
          value: "ecommerce"
      
      # Sidecar do Exporter - Correto
      - name: postgres-exporter
        image: quay.io/prometheuscommunity/postgres-exporter
        ports:
        - containerPort: 9187
        env:
        - name: DATA_SOURCE_URI
          value: "localhost:5432/ecommerce?sslmode=disable"
        - name: DATA_SOURCE_USER
          value: "ecommerce"
        - name: DATA_SOURCE_PASS
          value: "Pg1234"

---
apiVersion: v1
kind: Service
metadata:
  name: postgres
spec:
  type: ClusterIP
  ports:
  - port: 5432
    targetPort: 5432
  selector:
    app: postgres

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ecommerce-app
  template:
    metadata:
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "5000"
      labels:
        app: ecommerce-app
    spec:
      containers:
      - name: app
        image: fabricioveronez/fake-shop:v1
        ports:
        - containerPort: 5000
        env:
        - name: DB_HOST
          value: "postgres"
        - name: DB_USER
          value: "ecommerce"
        - name: DB_PASSWORD
          value: "Pg1234"
        - name: DB_NAME
          value: "ecommerce"
        - name: DB_PORT
          value: "5432"
        - name: FLASK_APP
          value: "index.py"

---
apiVersion: v1
kind: Service
metadata:
  name: app
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 5000
  selector:
    app: ecommerce-app