apiVersion: apps/v1
kind: DaemonSet
metadata:
  namespace: monitoramento
  name: node-exporter
  labels:
    app: node-exporter
spec:
  selector:
    matchLabels:
      app: node-exporter
  template:
    metadata:
      labels:
        app: node-exporter
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "9100"
    spec:
      containers:
      - name: node-exporter
        image: prom/node-exporter:latest
        ports:
        - containerPort: 9100
          name: metrics

---
apiVersion: v1
kind: Service
metadata:
  name: node-exporter
  namespace: monitoramento
  labels:
    app: node-exporter
spec:
  ports:
  - port: 9100
    targetPort: 9100
    protocol: TCP
    name: metrics
  selector:
    app: node-exporter
  type: ClusterIP